* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    background-image: linear-gradient(45deg,deepskyblue,deeppink);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 25px;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-family: "Comic Sans MS";
    font-size: 100px;
}
h2 {
    line-height: px;
}

.spel-bord {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 700px;
    margin: 10px 0 25px;
    width: 700px;
}

.cell {
    align-items: center;
    background: #4370F1;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
}

.cell::after {
    background: greenyellow;
    border-radius: 50%;
    border: 3px solid black;
    content: '';
    cursor: pointer;
    height: 75px;
    width: 75px;
}

.cell:not(.row-top).pink::after {
    background: deeppink;
}
.cell:not(.row-top).blue::after {
    background: deepskyblue;
}

.cell:not(.row-top).pink.win {
    background: deeppink;
}

.cell:not(.row-top).blue.win {
    background: deepskyblue;
}

.cell.row-top {
    background: green;
}

.cell.row-top::after {
    border: none;
}

.cell.row-top.pink::after {
    background: deeppink;
    border: 3px solid black;
}

.cell.row-top.blue::after {
    background: deepskyblue;
    border: 3px solid black;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.opnieuw {
    background-color: #4370F1;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
}

.opnieuw:hover {
    background-color: #1D50F1;
}

.opnieuw:active {
    background-color: #4d7ef1;

}
.stoppen {
    background-color: #4370F1;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
}

.stoppen:hover {
    background-color: #1D50F1;
}

.stoppen:active {
    background-color: #4d7ef1;

}

.status {
    display: block;
    font-size: 20px;
}

/* Spel Bord CSS */
.left-border {
    border-left: 3px solid black;
}

.top-border {
    border-top: 3px solid black;
}

.right-border {
    border-right: 3px solid black;
}

.bottom-border {
    border-bottom: 3px solid black;
}

.left-border.top-border {
    border-radius: 10px 0 0 0;
}

.right-border.top-border {
    border-radius: 0 10px 0 0;
}

.right-border.bottom-border {
    border-radius: 0 0 10px 0;
}

.left-border.bottom-border {
    border-radius: 0 0 0 10px;
}